source_up .envrc || true

export PORT=${SNOWHITE_PORT-4001}
export SECRET_KEY_BASE=${SNOWHITE_SECRET_KEY_BASE-G7KKZSZ7Uhn9bwXvJT3VRyN5GMEyGv5vQODto5It7S8ZwVS+49hhZ8iKUC2xb2TA}
export LIVE_VIEW_SALT=${SNOWHITE_LIVE_VIEW_SALT-livewviewsalt}
export LOCALE=${SNOWHITE_LOCALE-en}
export OPEN_WEATHER_API_KEY=${SNOWHITE_OPEN_WEATHER_API_KEY-}
