.snowhite-modules-clock {
  h1 {
    font-size: 40pt;
    font-family: 'Roboto Mono', serif;
  }
  h2 {
    font-size: 18pt;
    font-family: 'Roboto Mono', serif;
    font-weight: bold;
    text-transform: lowercase;
  }
}
