.snowhite-modules-clock {
  h1 {
    font-size: 3em;
    font-family: $font-family-mono;
  }
  h2 {
    font-size: 1.5em;
    font-family: $font-family-mono;
    font-weight: bold;
    text-transform: lowercase;
  }
  margin-bottom: 2em;
}
