.snowhite-modules-clock {
  h1 {
    font-size: 3em;
    font-family: $font-family;
  }
  h2 {
    font-size: 1.5em;
    font-family: $font-family;
    font-weight: bold;
    text-transform: lowercase;
  }
}
