.snowhite-modules-rss {
  font-family: $font-family-sans;
  ul.feeds > li {
    font-weight: bold;
    padding-left: 0.4em;
    margin-bottom: 0.4em;
  }
  ul.news {
    margin-top: 0.5em;
    & > li {
      padding-left: 1em;
      font-weight: normal;
      padding-bottom: 0.6em;
    }
  }
}
