$rss-svg-size: 60px;
.snowhite-modules-rss {
  font-family: $font-family-sans;
  ul.feeds > li {
    font-weight: bold;
    padding-left: 0.4em;
    margin-bottom: 1.7em;
  }
  ul.news {
    margin-top: 0.5em;
    & > li {
      padding-left: 1em;
      font-weight: normal;
      margin-bottom: 0.6em;
      border-left: 2px solid white;
      line-height: 1.4em;
      display: flex;
      align-items: center;

      a {
        color: $white;
        text-decoration: none;
        display: block;
        padding: 0.3em 0;
      }

      svg {
        min-width: $rss-svg-size;
        min-height: $rss-svg-size;
        max-width: $rss-svg-size;
        max-height: $rss-svg-size;
        margin-right: 1em;
      }

      small {
        color: darken($white, 30%);
      }
    }
  }
}
