$negative-color: red;
$positive-color: green;
$even-color: gray;
$symbol-padding: 0.4rem;

.snowhite-modules-stockmarket {
  font-family: $font-family-sans;

  .wrapper {
    display: flex;
  }

  .symbol {
    padding-left: $symbol-padding;
    padding-right: $symbol-padding;
    text-align: center;
  }

  h1 {
    font-weight: bold;
    color: #FCFCFC;
    font-size: 1.2em;
  }

  h1, h2 {
    margin-bottom: 0.3rem;
  }

  h2 {
    color: white;
    padding: 0.2rem 0.3rem;
    font-weight: bold;
    font-size: 1.1em;
  }

  h2.value::after {
    content: "$";
  }

  h2.change::after {
    content: "%";
  }

  .symbol.symbol-positive h2.change {
    background-color: $positive-color;
  }

  .symbol.symbol-negative h2.change {
    background-color: $negative-color;
  }

  .symbol.symbol-even h2.change {
    background-color: $even-color;
  }
}
