.snowhite-modules-weather-current, .snowhite-modules-weather-forecast {
  padding: 0.2em;
  h1 {
    font-size: 40pt;
    font-family: $font-family-mono;

    &.temperature::after {
      font-size: 20pt;
    }
  }
  .temperature {
    &::after {
      vertical-align: super;
      font-weight: normal;
      padding-left: 0.1rem;
    }

    &.metric::after {
      content: "C";
    }

    &.imperial::after {
      content: "F";
    }
  }
  h2 {
    font-size: 18pt;
    font-family: $font-family-mono;
    text-transform: lowercase;
    font-weight: bold;

    &.temperature::after {
      font-size: 14pt;
    }
  }
  h3 {
    font-size: 16pt;
    margin-left: 10px;
    margin-right: 10px;
    font-family: $font-family-sans;
  }
  & > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  table.forecasts {
    td {
      text-align: left;
      vertical-align: middle;
    }
  }

  .forecasts.inline {
    display: flex;

    .forecast-item {
      display: flex;
      flex-flow: column;
      align-items: center;

      h2 {
        padding-bottom: 0.4rem;
        font-size: 13pt;
      }

      h3 {
        font-size: 11pt;
      }
    }
  }
}
