.snowhite-modules-weather-current, .snowhite-modules-weather-forecast {
  h1 {
    font-size: 40pt;
    font-family: $font-family-mono;

    &.temperature::after {
      font-size: 20pt;
    }
  }
  .temperature {
    &::after {
      vertical-align: super;
    }

    &.metric::after {
      content: "C";
    }

    &.imperial::after {
      content: "F";
    }
  }
  h2 {
    font-size: 18pt;
    font-family: $font-family-mono;
    text-transform: lowercase;
    font-weight: bold;

    &.temperature::after {
      font-size: 14pt;
    }
  }
  h3 {
    font-size: 16pt;
    margin-left: 10px;
    margin-right: 10px;
    font-family: $font-family-sans;
  }
  & > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  table.forecasts {
    td {
      text-align: left;
      vertical-align: middle;
    }
  }
}
