$black: #000 !default;
$white: #FFF !default;

$grid-layout-proportions: 40% 20% 40%;
$font-family-mono: 'Roboto Mono', monospace;
$font-family-sans: 'Roboto', sans-serif;
$font-family-serif: 'Roboto Slab', serif;
$background-color: $black !default;
$foreground-color: $white !default;
$module-inner-padding: 1em !default;
