$black: #000 !default;
$white: #FFF !default;

$grid-layout-proportions: 33% 34% 33% !default;
$font-family: 'Roboto Mono', monospace;
$background-color: $black !default;
$foreground-color: $white !default;
$module-inner-padding: 10px !default;
